.img-rounded {
    /* width: 100%;
    height: 40vw;
     */
     /* width: 50vw; */
    /* height: 50vh; */
}
img:hover {
    transition:all .5s ease-in-out;
    filter: saturate(180%);
    filter: opacity(.5);
}